# IEEE 300 - MATPOWER DATA

In [36]:
import pandas as pd


dados_barra = pd.read_csv('dadosdebarra.csv', header=None)

In [37]:
dados_barra.columns = ['bus_number','bus_type','pd','qd','gs','bs','area','vm','va','base','zone','max_vm','min_vm']

dados_barra.head()

,bus_number,bus_type,pd,qd,gs,bs,area,vm,va,base,zone,max_vm,min_vm
0,1,1,90.0,49.0,0.0,0.0,1,1.0284,5.95,115.0,1,1.06,0.94
1,2,1,56.0,15.0,0.0,0.0,1,1.0354,7.74,115.0,1,1.06,0.94
2,3,1,20.0,0.0,0.0,0.0,1,0.9971,6.64,230.0,1,1.06,0.94
3,4,1,0.0,0.0,0.0,0.0,1,1.0308,4.71,345.0,1,1.06,0.94
4,5,1,353.0,130.0,0.0,0.0,1,1.0191,4.68,115.0,1,1.06,0.94

In [38]:
dados_gerador = pd.read_csv('dadosgerador.csv', header=None)

dados_gerador = dados_gerador.iloc[:,[0,1,2,3,4,5,8,9]]

In [39]:
dados_gerador.columns = ['bus_number','pg','qg','q_max','q_min','vm','p_max','p_min']

dados_gerador.head()

   bus_number   pg  qg  q_max  q_min      vm  p_max  p_min
0           8  0.0   0   10.0  -10.0  1.0153  100.0      0
1          10  0.0   0   20.0  -20.0  1.0205  100.0      0
2          20  0.0   0   20.0  -20.0  1.0010  100.0      0
3          63  0.0   0   25.0  -25.0  0.9583  100.0      0
4          76  0.0   0   35.0   12.0  0.9632  100.0      0

In [44]:
dados_ramo =pd.read_csv('dadosramo.csv', header=None)

dados_ramo = dados_ramo.iloc[:,[0,1,2,3,4,8]]

dados_ramo.columns = ['from','to', 'resistance', 'reactance', 'line_susceptance','tap']

In [55]:
dados_ramo[dados_ramo['line_susceptance']==0]

     from    to  resistance  reactance  line_susceptance     tap
0      37  9001     0.00006    0.00046               0.0  1.0082
1    9001  9005     0.00080    0.00348               0.0  0.0000
2    9001  9006     0.02439    0.43682               0.0  0.9668
3    9001  9012     0.03624    0.64898               0.0  0.9796
4    9005  9051     0.01578    0.37486               0.0  1.0435
..    ...   ...         ...        ...               ...     ...
406  7039    39     0.00000    0.03159               0.0  0.9650
407  7057    57     0.00000    0.05347               0.0  0.9500
408  7044    44     0.00000    0.18181               0.0  0.9420
409  7055    55     0.00000    0.19607               0.0  0.9420
410  7071    71     0.00000    0.06896               0.0  0.9565

[161 rows x 6 columns]